#star { width: 170px; display: flex; justify-content: space-between; }

a { margin: 0; padding: 0; }

table thead th { padding: 20px; background-color: #303538; color: #ddd; }

table tbody .reviewInfo { text-align: center; }

table tbody .reviewInfo td { background-color: #ddd; }

table tbody .reviewInfo #starScore* { color: red; }
