<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="ridi.model.book.BookDto" alias="BookDto" />
		<typeAlias type="ridi.model.member.MemberDto" alias="MemberDto" />
		<typeAlias type="ridi.model.orders.OrdersDto" alias="OrdersDto" />
		<typeAlias type="ridi.model.qna.QnaDto" alias="QnaDto" />
		<typeAlias type="ridi.model.qna.ReplyDto" alias="ReplyDto" />
		<typeAlias type="ridi.model.qna.SearchDto" alias="SearchDto" />
		<typeAlias type="ridi.model.review.ReviewDto" alias="ReviewDto" />
	</typeAliases>
</configuration>